@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.img{
    max-width:80%;
    display:block;
}
    body {
      margin: 0;
      padding: 2rem;
      font-family: Dm-sans;
      font-weight: 500;
      font-size: 18px;
      line-height:1.1;
      background-color: hsl(0, 0%, 100%);
    }
    .grid-container {
      display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "card1 card2 card2 card4"
    "card3 card2 card2 card4"
    "card5 card6 card7 card8";
  gap: 1rem;
  max-width: 1440px;
  margin-inline: auto;
      
    }
    .card {
      background: var(--white);
      border-radius: .5rem;
      padding: 1.rem;
    }

    .card:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    }
.inside-element{
    grid-template-columns:1fr 1fr;
}
.inside-element:nth-child{
    grid-template-columns:.95fr, 2fr;
}

.card-1 { grid-area: card1; }
.card-2 { grid-area: card2; background-color: hsl(256, 67%, 59%) }
.card-3 { grid-area: card3; background-color: hsl(254, 88%, 90%); }
.card-4 { grid-area: card4; background-color: #ffcb74; }
.card-5 { grid-area: card5; }
.card-6 { grid-area: card6; background-color: #ffcb74; }
.card-7 { grid-area: card7; }
.card-8 { grid-area: card8; background-color: hsl(256, 67%, 59%); color: white; }

    .createpost {
      place-content:center;
      padding:2rem;
      background-color:  hsl(31, 66%, 98%);
     }
    #quicker{
      color: hsl(256, 67%, 59%);
    }
    .socialmedia {
      background: hsl(256, 67%, 59%);
      color: aliceblue;
      place-content:center;
      text-align:center;
    }
    .social{
      font-weight:500 ;
      font-size: xx-large;
      text-align: center;
      
    }
    .Schedule {
      background: hsl(254, 88%, 90%);
      place-content:center;
      padding-left:1.5rem;
      overflow:hidden;
    }
    .writeyourcontent{
      background: rgb(238, 181, 57);
       position:relative;
       overflow:hidden;
      font-weight: 700; 
      font-size: larger;    
    }
    .write{
      margin-top: 1rem;
    }
    .stars{
      margin-left: 7rem;
    }
    .manage{
     position:relative;
     overflow-x:hidden;
      background:white;
      font-family: DM sans;
      font-weight: 500;
      font-size: larger;
    }
      .maintain {
      background:rgb(238, 181, 57) ;
      padding: 3rem;
      grid-row: span 1;
      font-family: DM sans;
      font-weight: 500;
      font-size: larger;
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .fasteraudience{
      background: white;
      place-items:center;
      font-family: DM sans;
      font-weight: 500;
      font-size:small;
    }
    .fasternumb{
      font-size: xx-large;
    }
    .Grow{
      background: hsl(256, 67%, 59%);
      padding: 3rem;
      color: #f4f4f5;
      grid-column: span 2;
      grid-row: span 1;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      font-size: larger;
      height: 200px;
    
    }
    .createpostimg{
      margin-top: 1rem;
      border-radius: 1rem;  
    }
    .socialmediaimage{
        max-width:10rem;
        margin-inline:auto;
      
    }
    .x{
      color:rgb(240, 160, 94) ;

    }
    .Scheduleimg{
      max-width:100vh;
     position:relative;
     right:-1.5;
    }
    .writeimg{
      position:absolute;
      bottom:-4rem;
      left:1.4remm;  
    }
    .manageimg{
      margin-bottom: 1rem;
        position:relative;
        right:2rem;
        max-width:100%;
        margin-bottom:1rem;
        
    }
    .maintainimg{
      margin-bottom: -3rem;
      border-radius: 4px;
      
    }
    .fasterimg{
     margin-top: 1rem;
    }
    .Growimg{
      border-radius: 10px;
      margin-top: -20px;
    }
    



@media (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6"
      "card7"
      "card8";
    grid-template-columns: 1fr;
  }
}
@media (max-width: 375px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto,auto;
    gap: 2rem;
  }
}
